@font-face {
  font-family: Roboto ;
  src: url(../assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  font-family:Roboto,monospace;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

button {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
  gap: 20px;
  background-color: azure;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px white;
}

.delete-btn {
  background-color: red;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.inventory-table-styles th,
.inventory-table-styles td{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  
}

.inventory-table-styles{
  border-collapse: collapse;
  
}
.inventory-table-styles tr:hover{
  background-color: rgb(97, 192, 229);
  color:white
}

.product-form-styles{
  background-color: rgb(137, 135, 135);
  color: white;
  padding: 20px;
  border: 1px solid #333;
}
